{% extends "base.html" %}

{% block nadpis %} - Watchlist{% endblock %}

{% block extra_head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}

<h2 class="text-center">Your Watchlist</h2>
<p>only running auctions are visible</p>
<div class="container">
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Item</th>
        <th>Picture</th>
        <th>Current price</th>
        <th>Ends at</th>
        <th>Remove</th>
    </tr>
    </thead>
    {% for item in object_list %}
    <tbody>
        <td><a href="{% url 'auction_detail' item.auction.id %}">{{ item.auction.name }}</a></td>
        <td>{% if item.auction.image1 %}
            <a href="{% url 'auction_detail' item.auction.id %}">
            <img src="{{ item.auction.image1.url }}" alt="Auction Image" class="img-thumbnail"
                         style="width: 100%; height: 120px; object-fit: cover;">
            {% else %}
            No image available
            {% endif %}
            </a>
        </td>
        <td>${{ item.auction.current_price }}</td>
        <td>{{ item.auction.end_time }}</td>
        <td>
        <form action="{% url 'remove_from_watchlist' item.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">-</button>
        </form>
        </td>
    </tbody>
        {% endfor %}
    </table>
    {% if not object_list %}
        <p>No auctions on watch</p>
    {% endif %}
</div>
{% endblock %}
