{% extends 'base.html' %}
{% load static %}
{% block nadpis %} - Overview{% endblock %}

{% block extra_head %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="message" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <h2>live Auctions overview</h2>
<div class="container">
    <div class="browse">
        <h4>Filter by Category:</h4>
        <p><small>Click on category to show subcategories.</small></p>
        <ul class="categories-search">
            <li class="list-inline-item">
                <a href="{% url 'auctions' %}" >All</a>
            </li>
            {% for category in categories %}
            {% if not category.parent %} <!-- Only main categories -->
            <li class="list-inline-item">
                <a href="?category={{ category.id }}" class="btn btn-primary">
                    {{ category.name }} ▾
                </a>
                <!-- Subcategories -->
                <ul class="subcategories">
                    {% for subcategory in category.subcategories.all %}
                    <li><a href="?category={{ subcategory.id }}" class="btn btn-light">{{ subcategory.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

<!-- Searching -->
    <div class="browse100">
        <form method="get">
                <div class="cat-search">
                        <input type="text" name="q" class="form-control" placeholder="Search by item name or category" value="{{ request.GET.q }}">
                        <button type="submit" class="search-btn">Search</button>
                </div>
                <div class="adv-search">
                    <a href="{% url 'advanced_search' %}" class="search-btn">Advanced search</a>
                </div>
                <div class="adv-search">
                    <a href="{% url 'user_search' %}" class="search-btn">User search</a>
                </div>
        </form>
    </div>
</div>

    <table class="table table-bordered">
        <thead>
        <tr class="text-center">
            <th>Item</th>
            <th>Picture</th>
            <th>City</th>
            <th>Categories</th>
            <th>Current price</th>
<!--            <th>Status</th>-->
            <th>Ends at</th>
            {% if user.is_authenticated %}
            <th>Watchlist</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for auction in object_list %}
        <tr>
            <td>
                <a href="{% url 'auction_detail' auction.id %}">{{ auction.name }}</a>
            </td>
            <td>
                <a href="{% url 'auction_detail' auction.id %}">
                {% if auction.image1 %}
                    <img src="{{ auction.image1.url }}" alt="{{ auction.name }}" class="img-thumbnail"
                         style="width: 100%; height: 120px; object-fit: cover;">
                {% else %}
                    No image available
                {% endif %}
                </a>
            </td>
            <td>{{ auction.seller.profile.city }}</td>
            <td>
                {% for category in auction.categories.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>${{ auction.current_price }}</td>
<!--            <td>{{ auction.get_status_display }}</td>-->
            <td>{{ auction.end_time }}</td>
            {% if user.is_authenticated %}
            <td>
                {% if auction.seller != user %}
                    {% if auction.id in auction_ids_in_watchlist %}
                        <form action="{% url 'watchlist' %}" method="get"  class="td-watch">
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'add_to_watchlist' auction.id %}" class="td-watch">
                            {% csrf_token %}
                            <button type="submit" class="btn-info">+</button>
                        </form>
                    {% endif %}
                {% else %}
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not object_list %}
        <p>No auctions yet.</p>
    {% endif %}
</div>
{% endblock %}
