{% extends "base.html" %}
{% block content %}

{% if messages %}
        <div class="message" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

<h2>Relist auction: </h2>
<div class="create-box">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="search-btn">Relist now!</button>
    </form>
    <a href="{% url 'my_auctions' %}">Back to my auctions</a>
</div>
{% endblock %}