{% extends 'base.html' %}

{% block title %}
    Auctions
{% endblock %}

{% block content %}
    <h2>Auctions overview</h2>

<div class="container">
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

<!--    Category Filter-->
<div class="categories mb-4">
    <h4>Filter by Category:</h4>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'auctions' %}" class="btn btn-secondary">All</a>
        </li>
        {% for category in categories %}
        {% if not category.parent %} <!-- Only main categories -->
        <li class="list-inline-item">
            <a href="?category={{ category.id }}" class="btn btn-primary">
                {{ category.name }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!--&lt;!&ndash; Filtr podle subkategorie, pokud je vybrána hlavní kategorie &ndash;&gt;-->
<!--{% if selected_category and not selected_category.parent %}-->
<!--<div class="subcategories mb-4">-->
<!--    <h4>Filter by Subcategory:</h4>-->
<!--    <ul class="list-inline">-->
<!--        <li class="list-inline-item">-->
<!--            <a href="?category={{ selected_category.id }}" class="btn btn-secondary">All</a>-->
<!--        </li>-->
<!--        {% for subcategory in selected_category.subcategories.all %}-->
<!--        <li class="list-inline-item">-->
<!--            <a href="?category={{ selected_category.id }}&subcategory={{ subcategory.id }}" class="btn btn-primary">-->
<!--                {{ subcategory.name }}-->
<!--            </a>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
<!--{% endif %}-->

<!-- Searching -->
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="q" class="form-control" placeholder="Search by item name or category" value="{{ request.GET.q }}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div>
                <a href="{% url 'advanced_search' %}" class="btn btn-secondary">Advanced search</a>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Item</th>
            <th>Picture</th>
            <th>City</th>
            <th>Categories</th>
            <th>Current price</th>
            <th>Status</th>
            <th>Ends at</th>
            {% if user.is_authenticated %}
            <th>Watchlist</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for auction in object_list %}
        <tr>
            <td>
                <a href="{% url 'auction_detail' auction.id %}">{{ auction.name }}</a>
            </td>
            <td>
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" alt="Auction Image" width="200px">
                {% else %}
                    No image available
                {% endif %}
            </td>
            <td>{{ auction.seller.profile.city }}</td>
            <td>
                {% for category in auction.categories.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ auction.current_price }}</td>
            <td>{{ auction.get_status_display }}</td>
            <td>{{ auction.end_time }}</td>
            {% if user.is_authenticated %}
            <td style="text-align:center">
                {% if auction.seller != user %}
                    {% if auction.id in auction_ids_in_watchlist %}
                        <form action="{% url 'watchlist' %}" method="get">
                            <button type="submit" class="btn btn-danger">Edit watchlist</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'add_to_watchlist' auction.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">+</button>
                        </form>
                    {% endif %}
                {% else %}
                    <span>your own auction.</span>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not object_list %}
        <p>No auctions yet.</p>
    {% endif %}
</div>
{% endblock %}
