{% extends 'base.html' %}

{% block nadpis %}-Home{% endblock %}
{% block content %}

{% load static %}
<div class="welcome">
        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
        {% endif %}
    <div>
        <h1>Welcome to Auctions Portal Team 6!</h1>
    </div>
    {% if unconfirmed_sales_count > 0 %}
        <div class="message">
            <p>
                You have {{ unconfirmed_sales_count }} unconfirmed sales. Please visit:
                <a href="{% url 'my_auctions' %}">My Auctions</a> and confirm them.
            </p>
        </div>
    {% endif %}
    {% if unconfirmed_purchases_count > 0 %}
        <div class="message">
            <p>
                You have won {{unconfirmed_purchases_count}} auctions. Please visit:
                <a href="{% url 'won_auctions' %}">Won Auctions</a> and confirm your interest in purchase.
            </p>
        </div>
    {% endif %}
</div>

<div class="offer">
    <h2>Browse auctions by category or <a href="{% url 'auctions' %}">View All Auctions</a>.</h2>
</div>
<div class="content">
    <div class="browse">
        <h3>Categories:</h3>
        <ul class="categories-search">
            {% for category in main_categories %}
            <li>
                <a href="{% url 'auctions' %}?category={{ category.id }}">
                    {{ category.name }}
                </a>
                <ul class="subcategories">
                    {% for subcategory in category.subcategories.all %}
                    <li>
                        <a href="{% url 'auctions' %}?category={{ subcategory.id }}">
                            {{ subcategory.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="overview">
        <h4 class="auction-title">Recently Added Auctions</h4>
        <div class="auction-cards">
            {% for auction in recent_auctions %}
            <a class="card" href="{% url 'auction_detail' auction.id %}">
                    <div class="card-header">
                        <h4>{{ auction.name|truncatechars:15 }}</h4>

                            {% if auction.image1 %}
                                <img src="{{ auction.image1.url }}" alt="{{ auction.name }}">
                            {% elif auction.image2 %}
                                <img src="{{ auction.image2.url }}" alt="{{ auction.name }}">
                            {% elif auction.image3 %}
                                <img src="{{ auction.image3.url }}" alt="{{ auction.name }}">
                            {% else %}
                                <img src="{% static 'images/default-auction-image.jpg' %}" alt="Default image">
                            {% endif %}
                    </div>
                    <div class="auction-price">
                        <p><strong>${{ auction.current_price }}</strong></p>
                    </div>
                </a>
            {% empty %}
            <p>No auctions recently added.</p>
            {% endfor %}
        </div>
        <h4 class ="auction-title">Auctions Ending Soon</h4>
        <div class="auction-cards">
            {% for auction in ending_soon_auctions %}
            <a class="card" href="{% url 'auction_detail' auction.id %}">
                    <div class="card-header">
                        <h4>{{ auction.name|truncatechars:15 }}</h4>

                            {% if auction.image1 %}
                                <img src="{{ auction.image1.url }}" alt="{{ auction.name }}">
                            {% elif auction.image2 %}
                                <img src="{{ auction.image2.url }}" alt="{{ auction.name }}">
                            {% elif auction.image3 %}
                                <img src="{{ auction.image3.url }}" alt="{{ auction.name }}">
                            {% else %}
                                <img src="{% static 'images/default-auction-image.jpg' %}" alt="Default image">
                            {% endif %}
                    </div>
                    <div class="auction-price">
                        <p><strong>${{ auction.current_price }}</strong></p>
                    </div>
                </a>
            {% empty %}
            <p>No auctions ending soon.</p>
            {% endfor %}
        </div>
        <h4 class="auction-title">Auctions Just Ended</h4>
        <div class="auction-cards">
            {% for auction in ended_auctions %}
                <a class="card" href="{% url 'auction_detail' auction.id %}">
                    <div class="card-header">
                        <h4>{{ auction.name|truncatechars:15 }}</h4>

                            {% if auction.image1 %}
                                <img src="{{ auction.image1.url }}" alt="{{ auction.name }}">
                            {% elif auction.image2 %}
                                <img src="{{ auction.image2.url }}" alt="{{ auction.name }}">
                            {% elif auction.image3 %}
                                <img src="{{ auction.image3.url }}" alt="{{ auction.name }}">
                            {% else %}
                                <img src="{% static 'images/default-auction-image.jpg' %}" alt="Default image">
                            {% endif %}
                    </div>
                    <div class="auction-price">
                        <p><strong>${{ auction.current_price }}</strong></p>
                    </div>
                </a>
            {% empty %}
            <p>No auctions ended.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
