{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}

{% if user.is_authenticated %}
    Already logged in.
{% else %}
    <form method="post">
        {% csrf_token %}


        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            {% if field.errors %}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="search-btn">Login</button>
    </form>
{% endif %}

<div class="container">
    {% if messages %}
        <div class="message" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
