{% block content %}
<h2 class="mb-4 text-center">Login</h2>
{% if user.is_authenticated %}
    Already login.
{% else %}
<form method="post" class="w-50 mx-auto">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert  alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        {% if field.errors %}
        <div class="text-danger">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>
{% endif %}
{% endblock %}