{% extends 'base.html' %}
'street', 'house_number', 'city', 'zip_code', 'country']
{% block nadpis %}-Profile{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header text-center">
        <h2 class="h2">Profile</h2>
<p><strong>Avatar:</strong></p>
{% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="150">
{% else %}
    <p>No avatar set.</p>  <!-- Zobrazí text, pokud není avatar -->
{% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">About user</h5>
        <p class="card-text">
    Premium account:
    {% if profile.is_premium %}
        <span style="color: green">YES</span>
    {% else %}
        <span style="color: red">NO</span>
    {% endif %}
        </p>
        <p class="card-text">Username: {{ user.username }}</p>
        <p class="card-text">Email: {{ user.email }}</p>
        <p class="card-text">Name: {{ profile.first_name }} {{ profile.last_name }}</p>
        <p class="card-text">Phone number: {{ profile.phone }}</p>
        <p class="card-text">Street: {{ profile.street }}</p>
        <p class="card-text">House number: {{ profile.house_number }}</p>
        <p class="card-text">City: {{ profile.city }}</p>
        <p class="card-text">Zip code: {{ profile.zip_code }}</p>
        <p class="card-text">Country: {{ profile.country }}</p>
        <p class="card-text">Prefer communication: {{ profile.prefer_communication }}</p>
        {% if user.is_staff == 1 %}
            <p class="card-text">Role: Admin</p>
        {% else %}
            <p class="card-text">Role: User</p>
        {% endif %}
        {% if user.is_active %}
            <p class="card-text">Stav: <span style="color: green">Active</span></p>
        {% else %}
        <p class="card-text">Stav: <span style="color: red">Not active</span></p>
        {% endif %}
        <p class="card-text">Last login: {{ user.last_login|date:'H:i:s M d, Y' }}</p>
    </div>
  <a href="{% url 'profile_edit' %}"><button>Change Profile</button></a>
</form>
</div>
{% endblock %}