{% extends 'base.html' %}

{% block title %}
    Confirm Sale
{% endblock %}

{% block content %}
    <h1>You confirmed auction: {{ auction.name }}</h1>
    <div class="container">
        <h2>Here you can have Buyer Contact Information</h2>
        <p><strong>Name:</strong> {{ buyer_contact_info.name }}</p>
        <p><strong>Email:</strong> {{ buyer_contact_info.email }}</p>
        <p><strong>Phone:</strong> {{ buyer_contact_info.phone }}</p>
        <p><strong>Address:</strong> {{ buyer_contact_info.address }}</p>
        <a href="{% url 'auction_detail' purchase.auction.id %}" class="btn btn-primary">Back to Auction</a>
    </div>


{% endblock %}
