{% extends 'base.html' %}

{% block nadpis %} - Profile detail{% endblock %}

{% block content %}
<div class="profile-info-box">
        <h2 class="h2">Profile</h2>
{% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-thumbnail"
         style="width: 100px; height: 120px; object-fit: center;">
{% else %}
    <p>No avatar set.</p>  <!-- Zobrazí text, pokud není avatar -->
{% endif %}
    <h4>Average Rating: {{ profile.calculate_average_rating|default:"No ratings yet" }}</h4>
    <h5 class="card-title text-center">About user</h5>
    <div class="card-body">
        <p class="card-text"><strong>Username:</strong> {{ profile.user.username }}</p>
        {% if user.is_active %}
            <p class="card-text"><strong>Status:</strong> <span style="color: green">Active</span></p>
        {% else %}
            <p class="card-text"><strong>Status:</strong> <span style="color: red">Not active</span></p>
        {% endif %}
    </div>
    <div class="card-footer">
        {% if back_to_auction_url %}
            <button class="search-btn"><a href="{{ back_to_auction_url }}">Back to auction</a></button>
        {% endif %}
    </div>
</div>
</form>
    <div class="review-box">
    <h3>Reviews:</h3>
    {% for review in profile.received_reviews.all %}
    <div class="card-100">
        <div class="card-header">
            <small>By: {{ review.reviewer.user.username }} ({{ review.created|date:'H:i:s M d, Y' }})</small>
        </div>
        <div class="card-body">
            <strong>{{ review.rating }}/5</strong> <br>Comment: {{ review.text }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}