{% extends 'base.html' %}
{% block nadpis %} - Bidding on{% endblock %}
{% load static %}

{% block extra_head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
<h2>You are bidding on:</h2>

<div class="card-box">
    {% for auction_status in auctions_with_status %}
        <div class="card">
            <div class="card-header">
                <a href="{% url 'auction_detail' auction_status.auction.id %}">
                    {% if auction_status.auction.image1 %}
                        <img src="{{ auction_status.auction.image1.url }}" class="card-img-top" alt="{{ auction_status.auction.name }}">
                    {% elif auction_status.auction.image2 %}
                        <img src="{{ auction_status.auction.image2.url }}" class="card-img-top" alt="{{ auction_status.auction.name }}">
                    {% elif auction_status.auction.image3 %}
                        <img src="{{ auction_status.auction.image3.url }}" class="card-img-top" alt="{{ auction_status.auction.name }}">
                    {% else %}
                        <img src="{% static 'images/default-auction-image.jpg' %}" class="card-img-top" alt="Default image">
                    {% endif %}
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">{{ auction_status.auction.name }}</h5>
                <p class="card-text">Current Price: ${{ auction_status.auction.current_price }}</p>
                <p class="card-text">Ending: {{ auction_status.auction.end_time }}</p>

                <p>
                    {% if auction_status.is_winning %}
                        <span class="text-success font-weight-bold">You are currently winning this auction!</span>
                    {% else %}
                        <span class="text-danger font-weight-bold">You are not winning this auction.</span>
                    {% endif %}
                </p>
            </div>
            <div class="card-footer">
                    <a href="{% url 'auction_detail' auction_status.auction.id %}" class="search-btn">View Auction</a>
            </div>
        </div>
    {% empty %}
        <p>You are not bidding on any auctions.</p>
    {% endfor %}
</div>
{% endblock %}
