
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #FFF6DA;
    background-image: url(/static/web_images/background.png);
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.6rem;
    margin: 1rem;
}

h2{
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
h2 a{
    color: #A94A4A;
}

h3{
    font-size: 1.4rem;
    font-weight: bolder;

}
h4{
    font-size: 1.2rem;
}

p{
    margin: 1vw;
}


a {
    color: #A94A4A;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: rgba(169, 74, 74, 0.7);
    width: 80%;
    height: 6vw;
    padding: 1vw 1.6vw;
    border-bottom: 3px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
    color: #889E73;
}

section {
    background-color: rgba(244, 215, 147, 0.85);
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
    gap: 1vh;
}

.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo-box{
    max-height: 100%;
}

.logo{
    background-color: lightgray;
    border: 5px solid black;
    padding: 2px;
    width: 5em;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    text-decoration: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    padding: 0.2vw 0.6vw;
    display: inline-block;
    color: #d3d3d3;
}

.menu a.active {
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0.5vw;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12vw;
    z-index: 10;
    border-radius: 1vw;
    overflow: hidden;
    border: 3px solid #ccc;
}

.menu-btn, .dropdown-menu a, .dropdown-menu li {
    text-decoration: none;
    padding: 0.6rem;
    display: block;
    background-color: rgba(136, 158, 115, 1);
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    color: #FFF6DA;
    text-align: start;
}

.menu-btn:hover, .dropdown-menu a:hover, .dropdown-menu li:hover {
    color: #A94A4A;
}

footer{
    height: 4vw;
    background-color: rgba(169, 74, 74, 0.7);
    width: 80%;
    color: #FFF6DA;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-confirmation{
    padding: 1rem;
    display: flex;
    width: 80%;
    height: 3rem;
    background-color: #cf2f35;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #ccc;
    margin-bottom: 0.6vh;
    margin-top: 0.6vh;
}

.message-confirmation p{
    text-shadow: 2px 2px 5px #CCC, -2px -2px 5px #CCC, 2px -2px 5px #CCC, -2px 2px 5px #CCC;
}

.message-confirmation a{
    color: black;
    font-style: italic;
}

.message-confirmation a:hover{
    color: white;
}

.message{
    padding: 1rem;
    display: flex;
    width: 80%;
    height: auto;
    background-color: #d96b4a;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #ccc;
    margin-bottom: 0.6vh;
    margin-top: 0.6vh;
    font-size: 2rem;
}

.message a{
    color: black;
    font-weight: bold;
}

.message a:hover {
    color: #FFF6DA;
    text-decoration: none;
}

.message:empty {
    display: none;
}

.offer{
    margin-top: 2vh;
    margin-left: 1vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3vh;
}

.browse {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 20%;
    border: 3px solid #ccc;
    padding: 0.4vw;
    height: auto;
    max-height: 60vh;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.browse-index {
    background-color: rgba(255, 255, 255, 0.8);
    width: 20%;
    border: 3px solid #ccc;
    padding: 0.4vw;
    border-radius: 1vw;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.browse-index h3 {
    font-size: 2rem;
}

.browse-index a {
    font-size: 1.5rem;
}

.browse-index:hover, browse:hover {
    background-color: rgba(255, 255, 255, 1);
}

.browse-index a, .browse a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.3rem 0;
    transition: background-color 0.3s ease;
}

.browse-index a:hover, .browse a:hover {
    background-color: #4e781b;
    color: white;
}

.browse100 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    border: 3px solid #ccc;
    padding: 0.4vw;
    height: auto;
    max-height: 60vh;
    max-width: 800px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.browse100:hover {
    background-color: rgba(255, 255, 255, 1);
}

.browse100 a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.3rem 0;
    transition: background-color 0.3s ease;
}

.browse100 a:hover {
    background-color: rgba(169, 74, 74, 1);
    color: white;
}

.categories{
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.overview{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
}

.subcategories{
    list-style-type: none;
    font-size: 0.8rem;
    margin-left: 1rem;
    font-weight: bold;
}
.subcategories.active {
    display: block;
}

.auction-cards{
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 3vh;
    justify-content: space-between;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 1rem;
}

.auction-cards img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.auction-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    position: relative;
}

.auction-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ff6600;
    margin: 10px auto 0;
    border-radius: 2px;
}

.auction-price {
    max-width: 90%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #4e781b;
    background: #f9f9f9;
    border: 2px solid #4e781b;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
}

.auction-price p strong {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.card{
    width: calc(22.33% - 10px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-auto{
    width: auto;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #889E73;
    margin-bottom: 3vh;
    border: 3px solid #ccc;
}

.card-header{
    background-color: #A94A4A;
    padding: 1rem;
    color: #FFF6DA;
    font-weight: bolder;
    border-bottom: 3px solid #ccc;
    width: 100%
}
.card-body{
    background-color: white;
    padding: 1rem;
    color: black;
    font-weight: bolder;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #ccc;
    background-color: #FFF6DA;
    padding: 1rem;
    color: black;
    font-weight: bolder;
    width: 100%;
    gap: 1rem;
}

.card-header a {
    color: white;
    text-decoration: none;
}

.card-header img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.card-header a:hover {
    text-decoration: underline;
}

.card-footer a {
    text-decoration: none;
}

.card-footer a:hover {
    background-color: rgba(255, 255, 255, 0.8);text-decoration: underline;
}

.card-footer .btn-info,
.card-footer .search-btn{
    width: 80%;
    margin-right: 0;
    color: #FFF6DA;
}

.card a{
    width: 90%;
    margin: 0;
    padding: 0;
}

.card img{
    width: 100%;
}

.categories-search {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-search a{
    color: black;
}

.categories-search .list-inline-item {
    position: relative;
}

.subcategories {
    display: none;
    list-style: none;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.list-inline-item.active .subcategories {
    display: block; /* Viditelné po aktivaci */
}

.subcategories li {
    margin-bottom: 0.5rem;
}

.btn-primary {
    cursor: pointer;
}
.search-box{
    display: inline-block ;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 80%;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #ccc;
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-radius: 1rem;
    padding: 1rem;
}

.search-box div {
    flex: 0 1 calc(25% - 10px);
    min-width: 200px;
}

.search-box form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.search-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.search-fields input,
.search-fields select,
.search-fields button {
    flex: 1 1 calc(25% - 15px);
    min-width: 200px;
}

form h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vw;
    color: #A94A4A;
}

.search-btn {
    background-color: rgba(169, 74, 74, 0.7);
    display: flex;
    height: 6vh;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem !important;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
}
.search-btn a{
    color: #FFF6DA;
}

.search-btn:hover {
    background-color: rgba(169, 74, 74, 1);
    color: black;
    text-decoration: none;
}

.search-btn:focus {
    outline: none;
    border: 2px solid #A94A4A;
}

input::placeholder {
    font-size: 80%;
}

.cat-search{
    display: flex;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.adv-search{
    display: flex;
    gap: 0.1vw
}

table {
    width: 80%;
    background-color: rgba(244, 215, 147, 0.85);
    border-collapse: collapse;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #A94A4A;
    border: 2px solid #ccc;
}

.td-watch{
    display: flex;
    text-align: center;
    justify-content: center;
}

table th {
    background-color: rgba(169, 74, 74, 0.7);
    color: #FFF6DA;
    font-weight: bold;
}

table td {
    background-color: rgba(255, 255, 255, 0.8);
}

table tbody tr:hover {
    background-color: rgba(169, 74, 74, 0.1);
}

table a {
    color: #A94A4A;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #FFF6DA;
    border-radius: 0.5rem;
}

.btn-center{
    background-color: rgba(169, 74, 74, 0.7);
    display: flex;
    height: 6vh;
    color: #FFF6DA !important;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1rem !important;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 auto; /* save the center */
}

.btn-info {
    background-color: rgba(82, 206, 227, 0.6);
    display: flex;
    height: 6vh;
    width: auto;
    color: #FFF6DA;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
}

.btn-info:hover {
    background-color: rgba(82, 206, 227, 1);
    color: black;
}

.btn-danger {
    background-color: #ff3700;
    display: flex;
    height: 6vh;
    width: auto;
    color: #FFF6DA;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
}


.btn-danger:hover {
    background-color: #d96b4a;
}

.btn-warning {
    background-color: #f0ad4e;
    display: flex;
    height: 6vh;
    color: #FFF6DA;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
}

.btn-warning:hover {
    background-color: #f39c12;
    text-decoration: none;
}


input, input.form-control, select.form-select, textarea, form select {
    background-color: rgba(169, 74, 74, 0.2);
    color: rgba(46, 72, 78, 0.7);
    font-weight: bold;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 3px solid #ccc;
    cursor: pointer;
    display: inline-block;
    margin-right: 1vw;
    border-radius: 0.5rem;
    width: 100%;
}

input.form-control::placeholder, select.form-select::placeholder {
    font-size: 0.9rem;
}

input.form-control, select.form-select {
    height: 6vh;
}


button.search-btn:hover {
    background-color: rgba(169, 74, 74, 1);
    color: #FFF6DA;
    text-decoration: none;
}

button.search-btn:focus {
    outline: none;
    border: 2px solid #A94A4A;
}

select.form-select {
    width: 100%;
}

select.form-select option {
    background-color: rgba(244, 215, 147, 0.85);
}

.form-text {
    font-size: 0.9rem;
    text-wrap: wrap;
    color: #A94A4A;
}

.row {
    margin-bottom: 2vw;
}

.col {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

label{
    display: flex;
    margin-right: 0.4em;
    align-items: center;
    font-weight: bold;

}

.errorlist li{
    display: flex;
    width: 80%;
    height: 3rem;
    background-color: #d96b4a;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #ccc;
    margin-bottom: 0.6vh;
    margin-top: 0.6vh;
}

.big-label{
    display: flex;
    width: 80%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #ccc;
    margin-bottom: 0.1vh;
    margin-top: 3vh;
}

.detail-box {
    display: flex;
    background-color: rgba(136, 158, 115, 0.5);
    width: auto;
    border: 3px solid #ccc;
    padding: 0.4vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.bidding-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    border: 3px solid #ccc;
    padding: 2vw 20vw;
    height: auto;
    justify-content: center;
    margin-bottom: 1vh;
    border-radius: 1rem;
}

.bidding-box form {
    align-items: center;
}

.image-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    border: 3px solid #ccc;
    padding: 1vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.image-box img{
    width: 25%;
}

.status-info{
    background-color: rgba(169, 74, 74, 1);
    color: #FFF6DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    width: 80%;
    border: 3px solid #ccc;
    border-radius: 1vw;
    padding: 1vh 6vw;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.status-info p{
    padding: 0;
    margin: 0;
}

.status-info h1{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.status-info h2{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.status-row{
    display:flex;
}

.filter{
    display: flex;
    justify-content: center;

}

.handling{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    gap: 1vh;
    align-items: center;
}

.handling .search-btn, .handling .btn-danger, .handling .btn-warning{
    width: 14rem;
    padding: 1rem 0;
    justify-content: center;
}

.handling form{
    align-items: center;
}

.handling p{
    margin: 0;
    text-align: center;
}

.handling .message{
    width: 20vw;
    border-radius: 0.5rem;
}

.bidding-box .message{
    width: 100%;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.profile-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #ccc;
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-radius: 1rem;
    padding: 1rem;
}

.profile-info-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.profile-btn-change {
    background-color: rgba(169, 74, 74, 0.7);
    display: flex;
    height: 6vh;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem !important;
    border: 3px solid #9e9b9b;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
    color: black;
    width: 100%;
}

.profile-btn-change:hover {
    background-color: rgba(169, 74, 74, 1);
    color: #FFF6DA;
    text-decoration: none;
}

.profile-btn-change:focus {
    outline: none;
    border: 2px solid #A94A4A;
}

.info-box, .card-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #ccc;
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-radius: 1rem;
    padding: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.info-box .handling{
    width: 100%;
}

.card-box-my-auction{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-box{
    flex-direction: row;
    gap:clamp(1vw, 2vw, 3vw);
    flex-wrap: wrap;
}

.info-box li, .card-box li{
    list-style: none;
}
.info-box ul, .card-box ul{
    margin-top: 0;
    margin-bottom: 3rem;
}

.info-box p, .card-box p{
    max-width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: rgba(169, 74, 74, 0.7);
    color: #FFF6DA;
    border: 3px solid #9e9b9b;
    padding: 0.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-box select{
    width: 80%;
}

.card-img-top{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.no-img{
    width: 100%;
    height: 120px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 1vh;
}

.user-search{
    display: flex;
    flex-direction: row;
}
td form{
    align-items: center;
}

.logout{
    align-items: start;
}

.create-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #ccc;
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-radius: 1rem;
    padding: 1rem;
}

.create-box li{
   list-style: none;
}
.create-box ul{
   margin-top: 0;
}

.create-box p{
   margin: 1rem;
}

.create-box form{
    align-items: start;
}

td .btn-danger, td .btn-info{
    margin-right: 0;
}
.errorlist li{
    padding: 1.5rem;
}
.errorlist.nonfield{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1600px) {
    header, header ul {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 90%;
    }
    section, footer{
        width: 90%;
    }
    .logo{
        position: unset;
        transform: none;
        height: auto;
    }
    .dropdown-menu {
        width: 30vw;
        right: -35vw
    }
}

@media (max-width: 1400px){
    .dropdown-menu {
        width: 30vw;
        right: -20vw
    }
}

@media (max-width: 1060px){
    .menu{
        width: 100%;
    }
    .dropdown-menu{
        width: 60vw;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    .browse100{
        margin: unset;
        flex-direction: column;
    }
    .search-box{
        width: 100%;
        flex-direction: column;
        gap: 2vh;
        padding: 1vh;
    }
    .cat-search{
        width: 100%;
        flex-direction: column;
    }
    table{
        width: 100%;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .content{
        flex-direction: column;
    }
    .browse{
        width: 100%;
    }
}
@media (max-width: 840px){
    .row{
        width: 100%;
    }
    .detail-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .image-box{
        flex-direction: column;
    }
    .image-box img{
        width: 90%;
    }
    .info-box, .card-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .card-auto{
        width: 90%;
    }
    .auction-cards{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .info-box, .info-box p .info-box form,
    .card-box, .card-box p .card-box form,
    .create-box, .create-box p, .create-box form{
        margin: unset;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .bidding-box{
        flex-direction: column;
        padding: 2vh 6vw;
        gap: 2vh;
    }
    .create-box input, .create-box textarea{
        width: 100%;
    }
    .message{
        height: auto;
    }

}

#id_categories, #id_subcategories{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    text-wrap: nowrap;
    padding-left: 2vw;
}
