.card {
    height: 300px; /* Pevná výška celé karty */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.card-title {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body p {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}